#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=ms-v5-vm

# Root password
rootpw --iscrypted $6$/cBkJ0AzUvx6HIGx$rvS5T00rKLvRpI.ylKSkUTej6KbV4ykiLvBr1idWpOlFvkIQxG5nMDdy2Sb8wKBV1LPgnz6OTKlq9uavm7K5Z.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc
user --groups=wheel --name=mediaspeech --password=$6$1yJV4EGAr0XdIEjw$PFoueWuPzNaPvzXxhv9KU7qsgw5PGqufhVp6x5lNe0g4ix.PSylvWXJOJGunsCfU9F2VxItjcNcK5eglNjNc7/ --iscrypted --gecos="mediaspeech"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
